.footer-section {
  padding-bottom: 150px;
}
.footer-section .container .title {
  margin-bottom: 40px;
  font-family: Myriad Pro Regular, sans-serif;
}
.footer-section .container .row .seven-cols .col-1 {
  width: 14.285714285714285714285714285714%;
  *width: 14.285714285714285714285714285714%;
  flex: none;
  max-width: none;
}
