.footer-section{
  padding-bottom:150px;
  .container{
    .title{
      margin-bottom:40px;
      font-family:"Myriad Pro Regular",sans-serif;
      font-weight:bold;
    }
    .row{
      .seven-cols{
        .col-1{
          width: 14.285714285714285714285714285714%;
          *width: 14.285714285714285714285714285714%;
          flex:none;
          max-width:none;
        }
      }
    }
  }
}