.item .itemTitle {
  font-size: 20px;
  text-transform: uppercase;
}

.item .line {
  height: 3px;
  background: linear-gradient(
    to right,
    #0002eb,
    #0002eb,
    #a502d6,
    #a502d6,
    #313150,
    #313150
  );
}
