.borderDecoratedButton {
  position: relative;
  height: 38px;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  background: none;
  border: none;
  outline: none;
  display: inline;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  padding: 0;
  text-align: center;
  width: 120px;

  &:before {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    right: 20px;
    left: 0;
    top: 0;
    height: 100%;
    background: url(./images/orange-btn-l.png) no-repeat;
  }

  &:after {
    content: "";
    display: block;
    clear: both;
    position: absolute;
    right: 0;
    top: 0;
    height: 38px;
    background: url(./images/orange-btn-r.png) no-repeat;
    width: 20px;
  }

  span {
    display: block;
    height: 38px;
    line-height: 38px;
    position: relative;

    &:before {
      content: "";
      display: block;
      clear: both;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 20px;
      border: 3px solid transparent;
      z-index: 2;
      box-shadow: 0 0 50px rgba(248, 114, 38, 0.5);
      transition: all 0.3s ease;
      opacity: 0;
    }

    &:after {
      content: "";
      display: block;
      clear: both;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 20px;
      border: 3px solid transparent;
      z-index: 2;
      box-shadow: inset 0 0 40px rgba(248, 114, 38, 0.4);
      transition: all 0.3s ease;
      opacity: 0;
    }
  }

  &:hover {
    span:before, span:after {
      opacity: 1;
    }
  }

  .label {
    font-family: Roboto,sans-serif;
    font-size: 1.1em;
    font-weight: 100;
    text-align: center;
  }
}