.team-section {
  background-color: #01013c;
}
.team-section .container .title {
  font-size: 50px;
}
.team-section .container .teamDescription {
  font-size: 21px;
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 992px) {
  .team-section .container .teamDescription {
    font-size: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .team-section .container .teamDescription {
    font-size: 18px;
  }
}
@media only screen and (max-width: 576px) {
  .team-section .container .teamDescription {
    font-size: 16px;
    width: 90%;
  }
}
.team-section .members .carousel .carousel-inner .carousel-item .profile {
  background-color: white;
  width: 100%;
}
.team-section
  .members
  .carousel
  .carousel-inner
  .carousel-item
  .profile
  .photo {
  border-radius: 50%;
  z-index: 1;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.team-section .members .carousel .carousel-inner .carousel-item .profile .name {
  font-size: 28px;
  text-transform: uppercase;
}
.team-section .members .carousel .carousel-inner .carousel-item .profile .role {
  font-size: 25px;
  color: #1ee6cb;
  text-transform: uppercase;
  height: 60px;
}
.team-section
  .members
  .carousel
  .carousel-inner
  .carousel-item
  .profile
  .description {
  width: 80%;
  height: 70px;
  margin: 0 auto;
}
@media only screen and (max-width: 1400px) {
  .team-section
    .members
    .carousel
    .carousel-inner
    .carousel-item
    .profile
    .description {
    height: 80px;
  }
}
@media only screen and (max-width: 1234px) {
  .team-section
    .members
    .carousel
    .carousel-inner
    .carousel-item
    .profile
    .description {
    height: 105px;
  }
}
@media only screen and (max-width: 1115px) {
  .team-section
    .members
    .carousel
    .carousel-inner
    .carousel-item
    .profile
    .description {
    height: 130px;
  }
}
@media only screen and (max-width: 922px) {
  .team-section
    .members
    .carousel
    .carousel-inner
    .carousel-item
    .profile
    .description {
    height: 150px;
  }
}
@media only screen and (max-width: 865px) {
  .team-section
    .members
    .carousel
    .carousel-inner
    .carousel-item
    .profile
    .description {
    height: 180px;
  }
}
@media only screen and (max-width: 835px) {
  .team-section
    .members
    .carousel
    .carousel-inner
    .carousel-item
    .profile
    .description {
    height: 210px;
  }
}
@media only screen and (max-width: 835px) {
  .team-section
    .members
    .carousel
    .carousel-inner
    .carousel-item
    .profile
    .description {
    height: 220px;
  }
}
@media only screen and (max-width: 767px) {
  .team-section
    .members
    .carousel
    .carousel-inner
    .carousel-item
    .profile
    .description {
    height: 130px;
  }
}
.team-section .members .carousel .carousel-control-prev .arrowLeft {
  width: 80px;
  height: 80px;
  background: linear-gradient(to left, #243eff, #196cff, #00d2ff);
  border-radius: 40px;
  padding-top: 22px;
  padding-left: 14px;
  position: absolute;
  left: -5px;
  z-index: 100;
}
.team-section .members .carousel .carousel-control-next .arrowRight {
  width: 80px;
  height: 80px;
  background: linear-gradient(to right, #243eff, #196cff, #00d2ff);
  border-radius: 40px;
  padding-top: 22px;
  padding-right: 14px;
  position: absolute;
  right: -5px;
  z-index: 100;
}
