.explore-section {
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 146px;
}
.explore-section .title {
  margin: 0 0 50px 0;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-size: 4.3em;
  color: #fff;
  font-weight: bold;
}
@media only screen and (max-width: 420px) {
  .explore-section .title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 380px) {
  .explore-section .title {
    font-size: 40px;
  }
}
.explore-section .section-description {
  color: #fff;
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Roboto Regular', sans-serif;
}
@media only screen and (min-width: 991px) {
  .explore-section .section-description {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.explore-section .exploreStatus-container {
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .explore-section .exploreStatus-container {
    text-align: center;
  }
}
.explore-section .exploreCloud {
  left: -36px;
  top: -40px;
  width: 90%;
  margin: auto;
  z-index: -1;
  text-align: left;
}
@media only screen and (max-width: 767px) {
  .explore-section .exploreCloud {
    text-align: center;
  }
}
.explore-section .exploreCloud p {
  text-align: left;
  color: white;
}
.explore-section .cloud-parallax-img {
  margin-top: 100px;
  overflow: visible;
  width: 100% !important;
  height: auto !important;
  left: 0;
}
.explore-section .cloud-parallax {
  overflow: visible !important;
  z-index: -100;
}
.explore-section .compareStats {
  font-family: Montserrat-ExtraBold, sans-serif;
  text-align: left;
  font-size: 2.5em;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  .explore-section .compareStats {
    text-align: center;
  }
}
.explore-section .cloud-first {
  z-index: -1;
  width: 25%;
  margin-left: 25%;
  display: block;
  min-height: 1px;
}
.explore-section .cloud-second {
  z-index: -1;
  width: 25%;
  margin-left: 50%;
  display: block;
  min-height: 1px;
}
.explore-section .compareDescription {
  font-family: 'Roboto Regular', sans-serif;
  font-size: 0.95em;
  margin: 25px 0;
}
@media only screen and (max-width: 767px) {
  .explore-section .compareDescription {
    text-align: center !important;
  }
}
