.exploreStatus .exploreStatus-image {
  margin-bottom: 30px;
  float: left;
  width: 70px;
  height: 70px; }
  @media only screen and (max-width: 1200px) {
    .exploreStatus .exploreStatus-image {
      width: 60px;
      height: 60px; } }
  @media only screen and (max-width: 992px) {
    .exploreStatus .exploreStatus-image {
      width: 55px;
      height: 55px; } }
  @media only screen and (max-width: 576px) {
    .exploreStatus .exploreStatus-image {
      width: 50px;
      height: 50px; } }

.exploreStatus .exploreStatus-label {
  font-size: 1.7rem;
  color: #fff;
  text-align: left;
  line-height: 1;
  font-weight: bold; }
  @media only screen and (max-width: 1200px) {
    .exploreStatus .exploreStatus-label {
      font-size: 1.5rem; } }
  @media only screen and (max-width: 992px) {
    .exploreStatus .exploreStatus-label {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 576px) {
    .exploreStatus .exploreStatus-label {
      font-size: 1.0rem; } }

.exploreStatus .exploreStatus-value {
  font-size: 3.2rem;
  text-align: left;
  background: -webkit-linear-gradient(#f94d1f, #fd6d07);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-weight: 1000; }
  @media only screen and (max-width: 1200px) {
    .exploreStatus .exploreStatus-value {
      font-size: 2.9rem; } }
  @media only screen and (max-width: 992px) {
    .exploreStatus .exploreStatus-value {
      font-size: 2.2rem; } }
  @media only screen and (max-width: 576px) {
    .exploreStatus .exploreStatus-value {
      font-size: 1.5rem; } }
