.intro-section {
  position: relative;
  height: 100%;
  width: 100%;
  background: url("./images/intro_bkg.png") no-repeat bottom;
  background-size: cover;
  text-align: center;
  position: relative;
  padding-top: 146px;
  padding-bottom: 146px;

  .logo-container {
    text-align: center;
    width: 100%;
    .logo {
      width: 90px;
    }
  }

  .title {
    margin: 90px 0 50px 0;
    font-size: 3.3em;
    color: #fff;
    font-weight: bold;
  }

  .subtitle {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;

    @media only screen and (min-width: 767px) {
      padding-left: 150px;
      padding-right: 150px;
    }
  }

  .scrollIndicatorContainer {
    position: absolute;
    bottom: 50px;
    left: 0;
    width: 100%;
    text-align: center;
  }
}