.intro-section {
  position: relative;
  height: 100%;
  width: 100%;
  background: url('./images/intro_bkg.jpg') no-repeat bottom;
  background-size: cover;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 180px;
}
@media only screen and (max-width: 991px) {
  .intro-section {
    padding-top: 120px;
  }
}
.intro-section .logo-container {
  text-align: center;
  width: 100%;
}
.intro-section .logo-container .logo {
  width: 90px;
}
.intro-section .title {
  margin: 100px 0 160px 0;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-weight: bold;
  font-size: 3.3em;
  color: #fff;
}
@media only screen and (max-width: 420px) {
  .intro-section .title {
    font-size: 50px;
  }
}
@media only screen and (max-width: 380px) {
  .intro-section .title {
    font-size: 40px;
  }
}
.intro-section .subtitle {
  font-family: Roboto, sans-serif;
  font-weight: lighter;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}
@media only screen and (min-width: 991px) {
  .intro-section .subtitle {
    padding-left: 150px;
    padding-right: 150px;
  }
}
.intro-section .scrollIndicatorContainer {
  position: absolute;
  bottom: 90px;
  left: 0;
  width: 100%;
  text-align: center;
}
