.network-section {
  position: relative;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 146px;

  .title {
    margin: 0 0 50px 0;
    font-size: 4.3em;
    color: #fff;
    font-family: Montserrat-ExtraBold, sans-serif;
    font-weight: bold;
  }
  @media only screen and (max-width: 420px){
    .title{
      font-size:50px;
    }
  }
  @media only screen and (max-width: 380px){
    .title{
      font-size:40px;
    }
  }
  .section-description {
    color: #fff;
    text-align: center;
    margin-bottom: 100px;
    font-family: "Roboto Regular",sans-serif;

    @media only screen and (min-width: 991px) {
      padding-left: 200px;
      padding-right: 200px;
    }
  }

  .trade-image, .earn-image, .hold-image{
    height: 112px;
    width: 112px;
    margin-bottom: 25px;
  }

  .trade-title, .earn-title, .hold-title {
    font-family: Montserrat-ExtraBold, sans-serif;
    font-size: 2.3em;
    margin-bottom: 25px;
    color: #fff;
  }
  .trade-subImage, .earn-subImage {
    margin: 0 auto;
    margin-top: 47px;
    margin-bottom: 15px;
  }

  .hold-subImage {
    margin: 0 auto;
    margin-top: 72px;
    margin-bottom: 15px;
  }
  .chooseWallet-image {
    margin-top: 69px;
  }
  .earn-block figure{
    margin-top: 5px;
  }
  .hold-block .hover12 figure {
    width: 30px;
    @media only screen and (max-width: 1200px) {
      width: 40px;
    }
    @media only screen and (max-width: 992px) {
      width: 30px;
    }
    @media only screen and (max-width: 767px) {
      width: 60px;
    }
  }
  .rgbDecorate {
    width: 100%;
    overflow: hidden;
    opacity: 1;
    margin-top: -250px;
  }

  .ellipseDecorateH {
    position: absolute;
    width: 100%;
    bottom: 0;
    left:0;
    z-index: -100;
    opacity: 0.3;
    
    @media only screen and (max-width: 767px) {
      display: none;
    }
  }

  .ellipseDecorateV {
    position: absolute;
    opacity: 0.3;
    right:0;
    bottom:50%;
    z-index: -100;

    @media only screen and (max-width: 767px) {
      display: none;
    }
  }
}