.collapseDiv{
  .readMoreButton{
    background:transparent;
    border-style:none;
    color:#7d7e9c;
    font-size:14px;
    margin-bottom:0px !important;
  }
  .readMoreButton:hover{
    background:transparent;
    border-style:none;
    color:white;
  }
  .readMoreButton:focus{
    box-shadow:none;
  }
  .contentDiv{
    .readMoreDetail{
      background:transparent;
      .cardBody{
        font-family: "Yantramanav";
        color:#bdbdce;
      }
    }
  }

}