.collapseDiv .readMoreButton {
  background: transparent;
  border-style: none;
  color: #7d7e9c;
  font-size: 14px;
  margin-bottom: 0px !important;
}

.collapseDiv .readMoreButton:hover {
  background: transparent;
  border-style: none;
  color: white;
}

.collapseDiv .readMoreButton:focus {
  box-shadow: none;
}

.collapseDiv .contentDiv .readMoreDetail {
  background: transparent;
}
.collapseDiv .contentDiv .readMoreDetail .cardBody {
  color: #bdbdce;
}
