.connect-section .container .title {
  font-size: 70px;
  font-family: Montserrat ExtraBold, sans-serif;
}

@media only screen and (min-width: 600px) {
  .connect-section .container .title {
    font-size: 70px;
  }
}

@media only screen and (max-width: 599px) {
  .connect-section .container .title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .connect-section .container .title {
    font-size: 50px;
  }
}

@media only screen and (max-width: 430px) {
  .connect-section .container .title {
    font-size: 45px;
  }
}

@media only screen and (max-width: 375px) {
  .connect-section .container .title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 320px) {
  .connect-section .container .title {
    font-size: 35px;
  }
}

.connect-section .container .signUpTitle {
  font-size: 23px;
  font-family: Myriad Pro Regular, sans-serif;
}

.connect-section .container .signUpDescription {
  width: 290px;
  margin: 0 auto;
  font-family: Myriad Pro Regular, sans-serif;
}
