.roadmap-section{
  .container{
    .title{
      font-size:70px;
      font-family: Montserrat-ExtraBold, sans-serif;
      font-weight:bold;
    }
    @media only screen and (min-width: 600px) {
      .title{
        font-size: 70px;
      }
    }
    @media only screen and (max-width: 599px) {
      .title{
        font-size: 60px;
      }
    }
    @media only screen and (max-width: 500px) {
      .title{
        font-size: 50px;
      }
    }
    .description{
      width:80%;
      margin:0 auto;
      font-size:17px;
      font-family:"Roboto Regular", sans-serif;
      text-transform:uppercase;
    }
    .roadmapDetail{
      padding-top:100px;
      font-family:"Myriad Pro Regular", sans-serif;
      .tabContent{
        width:62%;
        margin:0 auto;
        height:430px;
      }
      @media only screen and (max-width: 1199px) {
        .tabContent{
          width:74%;
        }
      }
      @media only screen and (max-width: 991px) {
        .tabContent{
          width:92%;
        }
      }
      @media only screen and (max-width: 767px) {
        .tabContent{
          width:100%;
        }
      }
    }
    .leftEffect{
      height:70%;
      position:absolute;
      left:0;
      z-index:100;
    }
  }
}