.roadmap-section .container .title {
  font-size: 70px;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .roadmap-section .container .title {
    font-size: 70px;
  }
}

@media only screen and (max-width: 599px) {
  .roadmap-section .container .title {
    font-size: 60px;
  }
}

@media only screen and (max-width: 500px) {
  .roadmap-section .container .title {
    font-size: 50px;
  }
}

.roadmap-section .container .description {
  width: 80%;
  margin: 0 auto;
  font-size: 17px;
  font-family: 'Roboto Regular', sans-serif;
  text-transform: uppercase;
}

.roadmap-section .container .roadmapDetail {
  padding-top: 100px;
  font-family: 'Myriad Pro Regular', sans-serif;
}
.roadmap-section .container .roadmapDetail .tabContent {
  width: 62%;
  margin: 0 auto;
  height: 430px;
}
@media only screen and (max-width: 1199px) {
  .roadmap-section .container .roadmapDetail .tabContent {
    width: 74%;
  }
}
@media only screen and (max-width: 991px) {
  .roadmap-section .container .roadmapDetail .tabContent {
    width: 92%;
  }
}
@media only screen and (max-width: 767px) {
  .roadmap-section .container .roadmapDetail .tabContent {
    width: 100%;
  }
}

.roadmap-section .container .leftEffect {
  height: 70%;
  position: absolute;
  left: 0;
  z-index: -1;
}
