.benefit-section {
  background-color: white;
  position: relative;
  padding-top: 146px;

  .title {
    color: #010248;
    font-size: 3.3em;
    text-align: center;
    margin-bottom: 30px;
  }

  .benefitBottomImage {
    position: relative;
    width: 100%;
  }
}