.benefit-section {
  background-color: white;
  position: relative;
  padding-top: 146px;
}
.benefit-section .title {
  color: #010248;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  margin-bottom: 30px;
}
.benefit-section .benefitBottomImage {
  position: relative;
  width: 100%;
}
