.connect-section{
  background-color:#01013c;
  .container{
    .title{
      font-size:50px;
    }
    .signUpTitle{
      font-size:23px;
    }
    .signUpDescription{
      width:290px;
      margin:0 auto;
    }
  }
}