.connect-section{
  background-color:#01013c;
  .container{
    .title{
      font-size:70px;
      font-family:Montserrat ExtraBold, sans-serif;
    }
    .signUpTitle{
      font-size:23px;
      font-family:Myriad Pro Regular,sans-serif;
    }
    .signUpDescription{
      width:290px;
      margin:0 auto;
      font-family:Myriad Pro Regular,sans-serif;
    }
  }
}