.whitepaper-section {
  background: url('./images/whitepaper_bg.png') no-repeat;
  background-size: cover;
  padding-bottom: 500px;
  padding-top: 300px;
}
@media only screen and (max-width: 767px) {
  .whitepaper-section {
    padding-bottom: 250px;
  }
}
.whitepaper-section .container .title {
  font-size: 70px;
  color: #01013c;
  font-family: Montserrat ExtraBold, sans-serif;
}
.whitepaper-section .container .description {
  width: 55%;
  margin: 0 auto;
  font-family: Roboto Regular, sans-serif;
}
@media only screen and (max-width: 992px) {
  .whitepaper-section .container .description {
    width: 95%;
  }
}
.whitepaper-section .container .downloadButton {
  border-style: none;
  background: linear-gradient(to right, #243eff, #196cff, #00d2ff);
  color: white;
  font-size: 23px;
  font-family: Myriad Pro Regular, sans-serif;
  padding: 10px 20px;
}
@media only screen and (max-width: 360px) {
  .whitepaper-section .container .downloadButton {
    font-size: 20px;
  }
}
.whitepaper-section .rightCircle {
  position: absolute;
  right: 0px;
  height: 85%;
  bottom: -1000px;
}
.whitepaper-section .leftCircle {
  position: absolute;
  left: 0px;
  height: 85%;
  bottom: -1000px;
}
@media only screen and (max-width: 400px) {
  .whitepaper-section .rightCircle {
    bottom: -1400px;
  }
  .whitepaper-section .leftCircle {
    bottom: -1400px;
  }
}
