.whitepaper-section{
  background: url('./images/whitepaper_bg.png') no-repeat;
  background-size: cover;
  padding-bottom:500px;
  padding-top:300px;
  @media only screen and (max-width: 767px) {
    padding-bottom:250px;
  }
  .container{
    .title{
      font-size:70px;
      color:#01013c;
      font-family:Montserrat ExtraBold, sans-serif;
    }
    .description{
      width:55%;
      margin:0 auto;
      font-family:Roboto Regular, sans-serif;
    }
    @media only screen and (max-width: 992px) {
      .description{
        width:95%;
      }
    }
    .downloadButton{
      border-style: none;
      background: linear-gradient(to right, #243eff, #196cff, #00d2ff);
      color: white;
      font-size: 23px;
      font-family:Myriad Pro Regular,sans-serif;
      padding: 10px 20px;
    }
    @media only screen and (max-width: 360px) {
      .downloadButton{
        font-size: 20px;
      }
    }
  }
  .rightCircle{
    position:absolute;
    right:0px;
    height:85%;
    bottom:-1000px;
  }
  .leftCircle{
    position:absolute;
    left:0px;
    height:85%;
    bottom:-1000px;
  }
  @media only screen and (max-width: 400px) {
    .rightCircle{
      bottom:-1400px;
    }
    .leftCircle{
      bottom:-1400px;
    }
  }
}