.whitepaper-section{
  background: white;
  .top_bg{
    width:100%;
    margin-bottom:200px;
    height:100%;
  }
  .container{
    .title{
      font-size:4.3em;
      color:#01013c;
      font-family:Montserrat-ExtraBold, sans-serif;
    }
    @media only screen and (min-width: 600px) {
      .title{
        font-size: 70px;
      }
    }
    @media only screen and (max-width: 599px) {
      .title{
        font-size: 60px;
      }
    }
    @media only screen and (max-width: 500px) {
      .title{
        font-size: 50px;
      }
    }
    @media only screen and (max-width: 430px) {
      .title{
        font-size: 45px;
      }
    }
    @media only screen and (max-width: 375px) {
      .title{
        font-size: 40px;
      }
    }
    @media only screen and (max-width: 320px) {
      .title{
        font-size: 35px;
      }
    }
    .description{
      width:65%;
      color:#52a6e6;
      margin:0 auto;
      font-family:"Roboto Regular", sans-serif;
    }
    @media only screen and (max-width: 992px) {
      .description{
        width:95%;
      }
    }
    .downloadButton{
      border-style: none;
      background: linear-gradient(to right, #243eff, #196cff, #00d2ff);
      color: white;
      font-size: 23px;
      font-family:"Myriad Pro Regular",sans-serif;
      padding: 10px 20px;
      box-shadow:2px 2px 10px 10px rgba(6, 161, 255, 0.2);
    }
    .downloadButton:hover{
      background: linear-gradient(to right, #196cff, #196cff, #196cff);
    }
    @media only screen and (max-width: 360px) {
      .downloadButton{
        font-size: 20px;
      }
    }
  }
  .centerImage1{
    transform: translateX(70px) translateY(20px);
  }
  .leftEffect{
    position:absolute;
    left:0;
    height:50%;
    width:20%;
  }
  .bottom_bg{
    margin-top:100px;
    width:100%;
    height:100%;
  }
}