.roadmap-section {
  background-color: #01013c;
}
.roadmap-section .container .title {
  font-size: 50px;
}
.roadmap-section .container .description {
  width: 80%;
  margin: 0 auto;
  font-size: 23px;
}
.roadmap-section .container .rightEllipse {
  position: absolute;
  right: 0px;
  height: 50%;
}
.roadmap-section .container .roadmapDetail {
  padding-top: 100px;
}
.roadmap-section .container .roadmapDetail .tabContent {
  width: 58%;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .roadmap-section .container .roadmapDetail .tabContent {
    width: 68%;
  }
}
@media only screen and (max-width: 991px) {
  .roadmap-section .container .roadmapDetail .tabContent {
    width: 92%;
  }
}
@media only screen and (max-width: 767px) {
  .roadmap-section .container .roadmapDetail .tabContent {
    width: 100%;
    margin: 0 auto;
  }
}
