.item .itemTitle {
  font-family: 'Yantramanav';
  font-size: 18px;
  text-transform: uppercase;
}
.item .itemTitle .progressValue {
  float: right;
}
.item .itemTitle .progressValue .value {
  color: #c130ec;
}
.item .itemTitle .progressValue .percentage {
  background: linear-gradient(
    to right,
    #c130ec,
    #c130ec,
    #c130ec,
    #0002eb,
    #0002eb
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 485px) {
  .item .itemTitle {
    font-size: 16px;
  }
}

@media only screen and (max-width: 440px) {
  .item .itemTitle {
    font-size: 15px;
  }
}

@media only screen and (max-width: 410px) {
  .item .itemTitle {
    font-size: 14px;
  }
}

@media only screen and (max-width: 390px) {
  .item .itemTitle {
    font-size: 13px;
  }
}

@media only screen and (max-width: 365px) {
  .item .itemTitle {
    font-size: 12px;
  }
}

@media only screen and (max-width: 330px) {
  .item .itemTitle {
    font-size: 11px;
  }
}
