#label-email-ba8d0f4b-f507-4750-a97c-cfc2e0b95c37 {
  display: none;
}

#email-ba8d0f4b-f507-4750-a97c-cfc2e0b95c37 {
  border-radius: 8px;
  height: 40px;
  color: black;
  width: 400px;
}

.hs-button {
  margin-top: 15px;
  background: transparent;
  color: white;
  border: solid #a24a26 2px;
  border-radius: 50px;
  padding: 1px 15px;
  font-family: Myriad Pro Regular, sans-serif;
  text-transform: uppercase;
  outline: none;
}

.hs-button:active {
  border-color: #ff4741;
}

.hs-button:hover {
  border-color: #ff4741;
}

@media only screen and (max-width: 430px) {
  #email-ba8d0f4b-f507-4750-a97c-cfc2e0b95c37 {
    width: 300px;
  }
}

@media only screen and (max-width: 340px) {
  #email-ba8d0f4b-f507-4750-a97c-cfc2e0b95c37 {
    width: 280px;
  }
}

/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/
@media (min-width: 768px) {
  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    display: block;
  }
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item {
    transition: none;
  }
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -33.3333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
  }
}

.btn-secondary:not(:disabled):not(.disabled):active {
  background: transparent;
  outline: none;
}
