
body {
  background-color: #01013b;
}

button:focus {
  outline: none;
}

.hover12 figure .top{
  position: absolute;
  left: 0;
  opacity: 0.0;
}

.hover12 figure .bottom{
  opacity: 1.0;
}

.hover12 figure img {
  opacity: 1;
  width: 100%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  vertical-align: middle;
}

.hover12 figure:hover img.top {
  opacity: 1.0;
}

.hover12 figure:hover img.bottom{
  opacity: 0.0;
}

.hover12 figure {
  cursor: pointer;
}

/*
.hover12 figure:hover {
  -webkit-animation-name: hvr-wobble-horizontal;
  animation-name: hvr-wobble-horizontal;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
*/
.hover12 figure:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hover12 figure {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

/* Wobble Horizontal */
@-webkit-keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes hvr-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  33.3% {
    -webkit-transform: translateX(-6px);
    transform: translateX(-6px);
  }
  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }
  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }
  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  outline: none;
}

//--------- newsletter signUp style ----------//
#label-email-ba8d0f4b-f507-4750-a97c-cfc2e0b95c37{
  display:none;
}
#email-ba8d0f4b-f507-4750-a97c-cfc2e0b95c37{
  border-radius: 8px;
  height: 40px;
  color: black;
  width: 400px;
}
.hs-button{
  margin-top:15px;
  background: transparent;
  color: white;
  border: solid #a24a26 2px;
  border-radius: 50px;
  padding: 1px 15px;
  font-family:Myriad Pro Regular, sans-serif;
  text-transform: uppercase;
  outline:none;
}
.hs-button:active{
  border-color:#FF4741;
}
.hs-button:hover{
  border-color:#FF4741;
}
@media only screen and (max-width: 430px) {
  #email-ba8d0f4b-f507-4750-a97c-cfc2e0b95c37{
    width: 300px;
  }
}
@media only screen and (max-width: 340px) {
  #email-ba8d0f4b-f507-4750-a97c-cfc2e0b95c37{
    width: 280px;
  }
}

// ----------------- team section style ------------------//
/*

CC 2.0 License Iatek LLC 2018
Attribution required

*/

@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
  }

  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
    transition: none;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: absolute;
    top: 0;
    right: -25%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item{
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
  }

}

//--------------------- roadmap style ------------------------//
.btn-secondary:not(:disabled):not(.disabled):active{
  background:transparent;
  outline:none;
}
.progressbar-container{
  background:#313150;
}
.progressbar-progress{
  background:linear-gradient(to right, #0002eb, #0002eb, #a502d6,#a502d6);
  height:3px !important;
}