.webApp-section {
  position: relative;
}
.webApp-section .iMacPCS {
  width: 100%;
}
.webApp-section .flow {
  position: absolute;
  width: 100%;
  top: 0;
  margin-top: -297px;
  z-index: -100;
  height: 560px;
}
@media only screen and (max-width: 991px) {
  .webApp-section .flow {
    margin-top: -164px;
    height: 300px;
  }
}
.webApp-section .smallTitle {
  color: white;
  font-size: 1.8em;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-weight: bold;
  margin-top: 60px;
}
.webApp-section .bigTitle {
  text-align: center;
  background: -webkit-linear-gradient(90deg, #f94526, #ffbc3b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Montserrat-ExtraBold, sans-serif;
  font-size: 3.2em;
  margin: 30px 0 30px 0;
}
@media only screen and (max-width: 767px) {
  .webApp-section .bigTitle {
    font-size: 2.8em;
  }
}
.webApp-section .sectionDescription {
  width: 60%;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-family: 'Roboto Regular', sans-serif;
  margin-bottom: 160px;
}
@media only screen and (max-width: 767px) {
  .webApp-section .sectionDescription {
    width: unset;
  }
}
.webApp-section p {
  margin-bottom: 0;
}
